.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.calc-container {
  background-color: #21d4fd;
  border-radius: 4%;
  padding: 0.5% 2% 2% 2.5%;
  box-shadow: 35px 10px 15px -3px rgba(0,0,0,0.1);
}

.form-control {
  text-align: right;
  margin: 3%;
  width: 80%;
}

.calc-button {
  flex: 0 0 0 !important; 
  max-width: 100% !important;
  padding: 0px 7.5px !important;
  /* box-shadow: 0px 37px 77px 47px rgba(0,0,0,0.1); */
}

.calc-button0 {
  flex: 0 0 50% !important;
  max-width: 100% !important;
  padding: 0px 0px 0px 24px !important;
  /* box-shadow: 0px 37px 77px 47px rgba(0,0,0,0.1); */
}

.calc-button-dot {
  flex: 0 0 2% !important;
  max-width: 100% !important;
  padding: 0px 8px !important;
  box-shadow: 0px 37px 77px 47px rgba(0,0,0,0.1);
}

.ACbtn {
  line-height: 4.6 !important;
}

.oneandtwo {
  justify-content: space-between;
  margin: 0px 1px 0px 7px;
}

@media only screen and (max-width: 600px) {
  .calc-container {
    padding: 15px 20px;
  }
}
