.App {
  text-align: center;
}

.App-header {
  background-color: #c6f050;
  min-height: 100vh;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  /* padding: 5% 5% 5% 5%; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calc-container {
  background-color: rgb(157, 24, 157);
  border-radius: 4%;
  padding: 0.5% 2% 10% 2.5%;
  box-shadow: 35px 10px 15px -3px rgba(0,0,0,0.1);
}

.form-control {
  text-align: right;
  margin: 3%;
  width: 80%;
}